/* public/style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    /* background-color: red; */
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  